{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Category</h1>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ category.Nom }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_category_index') }}" class="btn btn-secondary">Back to list</a>

        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Edit</a>

        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
