{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<h1>Create new User</h1>

{{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
{# utilisation de classes bootstrap pour la mise en forme #}
        <div class="row">
                <div class="col-12">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-12">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-12">
                        <label for="verifpass">Saisir une seconde fois le mot de passe</label>
                        <input type="password" id="verifpass" class="form-control" required>
                </div>
        </div>
        <button class="btn btn-success mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
